## Intro

This assignment applies principles of unsupervised machine learning by fitting data to a model and using clustering algorithms to place data into groups. A final visualization summarizes the findings.

In [1]:
# Initial imports
import pandas as pd
from pathlib import Path

In [2]:
# Data loading
file_path = Path("myopia.csv")
df = pd.read_csv(file_path)
df.head(10)

,AGE,SPHEQ,AL,ACD,LT,VCD,SPORTHR,READHR,COMPHR,STUDYHR,TVHR,DIOPTERHR,MOMMY,DADMY,MYOPIC
0,6,-0.052,21.889999,3.690,3.498,14.70,45,8,0,0,10,34,1,1,1
1,6,0.608,22.379999,3.702,3.392,15.29,4,0,1,1,7,12,1,1,0
2,6,1.179,22.490000,3.462,3.514,15.52,14,0,2,0,10,14,0,0,0
3,6,0.525,22.200001,3.862,3.612,14.73,18,11,0,0,4,37,0,1,1
4,5,0.697,23.290001,3.676,3.454,16.16,14,0,0,0,4,4,1,0,0
5,6,1.744,22.139999,3.224,3.556,15.36,10,6,2,1,19,44,0,1,0
6,6,0.683,22.330000,3.186,3.654,15.49,12,7,2,1,8,36,0,1,0
7,6,1.272,22.389999,3.732,3.584,15.08,12,0,0,0,8,8,0,0,0
8,7,1.396,22.620001,3.464,3.408,15.74,4,0,3,1,3,12,0,0,0
9,6,0.972,22.740000,3.504,3.696,15.54,30,5,1,0,10,27,0,0,0

List the DataFrame's data types to ensure they're aligned to the type of data stored on each column.

In [3]:
# List dataframe data types
df_shopping.dtypes

CustomerID           int64
Channel             object
Fresh                int64
Milk                 int64
Grocery              int64
Frozen               int64
Detergents_Paper     int64
Delicatessen         int64
dtype: object

**Question 1:** Is there any column whose data type need to be changed? If so, make the corresponding adjustments.

**Answer:** All columns have an appropriate data type.

**Question 2:** Is there any unnecessary column that needs to be dropped? If so, make the corresponding adjustments.

**Answer:** We can drop the `CustomerID` column. It's not relevant for clustering since it doesn't denote any relevant characteristic of customers shopping habits.

In [4]:
# Remove the CustomerID Column
df_shopping = df_shopping.drop(columns=["CustomerID"])
df_shopping.head()

   Channel  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
0   Retail  12669  9656     7561     214              2674          1338
1   Retail   7057  9810     9568    1762              3293          1776
2   Retail   6353  8808     7684    2405              3516          7844
3  Horesca  13265  1196     4221    6404               507          1788
4   Retail  22615  5410     7198    3915              1777          5185

Remove all rows with `null` values if any.

In [5]:
# Find null values
for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()} null values")

Column Channel has 0 null values
Column Fresh has 0 null values
Column Milk has 0 null values
Column Grocery has 0 null values
Column Frozen has 0 null values
Column Detergents_Paper has 0 null values
Column Delicatessen has 0 null values

Remove duplicate entries if any.

In [6]:
# Find duplicate entries
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In order to use unsupervised learning algorithms, all the features should be numeric, and also, on similar scales. Perform the following data transformations.

* The `Channel` column contains categorical data, anytime you have categorical variables, you should transform them to a numerical value, in this case, transforming `Retail` to `1` and `Horesca` to `0` is a feasible solution. `Horesca` is an abbreviation of `Hotel, Restaurant, & Cafe`

In [7]:
# Transform Channel
def changeChannel(channel):
    if channel == "Retail":
        return 1
    else:
        return 0

# Along with replace() and map(), this is another way to encode the gender column into numbers.
df_shopping["Channel"] = df_shopping["Channel"].apply(changeChannel)
df_shopping.head()

   Channel  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
0        1  12669  9656     7561     214              2674          1338
1        1   7057  9810     9568    1762              3293          1776
2        1   6353  8808     7684    2405              3516          7844
3        0  13265  1196     4221    6404               507          1788
4        1  22615  5410     7198    3915              1777          5185

* Here, we will scale the `Fresh`, `Milk`, `Grocery`, `Frozen`, `Detergents_Paper`, and `Delicatessen` columns to bring them into range closer to that of the `Channel` column.

In [8]:
# Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_shopping[['Fresh', 'Milk', 'Grocery', 
                                                'Frozen', 'Detergents_Paper', 'Delicatessen']])

In [9]:
# A list of the columns from the original DataFrame
df_shopping.columns

Index(['Channel', 'Fresh', 'Milk', 'Grocery', 'Frozen', 'Detergents_Paper',
       'Delicatessen'],
      dtype='object')

In [10]:
# Create a DataFrame with the transformed data
new_df_shopping = pd.DataFrame(scaled_data, columns=df_shopping.columns[1:])
new_df_shopping['Channel'] = df_shopping['Channel']
new_df_shopping.head()

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen,Channel
0,0.052933,0.523568,-0.041115,-0.589367,-0.043569,-0.066339,1
1,-0.391302,0.544458,0.170318,-0.270136,0.086407,0.089151,1
2,-0.447029,0.408538,-0.028157,-0.137536,0.133232,2.243293,1
3,0.100111,-0.624020,-0.392977,0.687144,-0.498588,0.093411,0
4,0.840239,-0.052396,-0.079356,0.173859,-0.231918,1.299347,1

In [11]:
# Rename the spending score column
new_df_shopping = new_df_shopping.rename(columns={'Detergents_Paper': 'Detergents and Paper'})
new_df_shopping.head()

,Fresh,Milk,Grocery,Frozen,Detergents and Paper,Delicatessen,Channel
0,0.052933,0.523568,-0.041115,-0.589367,-0.043569,-0.066339,1
1,-0.391302,0.544458,0.170318,-0.270136,0.086407,0.089151,1
2,-0.447029,0.408538,-0.028157,-0.137536,0.133232,2.243293,1
3,0.100111,-0.624020,-0.392977,0.687144,-0.498588,0.093411,0
4,0.840239,-0.052396,-0.079356,0.173859,-0.231918,1.299347,1

Save the cleaned DataFrame as a `CSV` file, name it as `wholesale_customers_data_cleaned.csv`.

In [12]:
# Saving cleaned data
file_path = Path("../Resources/wholesale_customers_data_cleaned.csv")
new_df_shopping.to_csv(file_path, index=False)